{{ define "title" }}kystopia{{ end }}

{{ define "main" }}

<div class="p-intro">

    <p class="p-questions__alert">Kystopia er kun ment for å spille på mobil</p>

    <div class="p-intro__wrapper">

        <input type="checkbox" id="checkboxI"
            onchange="playVideoI();pinch.action.logEvent(pinch.action.event.GOAL_ACHIEVED)">
        <label for="checkboxI" id="introButton" class="button">Start din reise!</label>

        <div class="video-intro">
            <video id="videointro" class="video">
                <source src="videointro.mp4" type="video/mp4">
            </video>
            <a class="lukk" href="{{ .RelPermalink }}">Lukk(dev)</a>
        </div>

        <script>
            var myVideo = document.getElementById("videointro");
            function playVideoI() {
                myVideo.play();
            } 
        </script>
        <script src="/js/pinch-action.min.js"></script>
    </div>
</div>
{{ end }}