.button {
    padding: 0.8rem 0;
    margin-top: 1rem; 
    // border-style: solid;
    // border-color: gold;
    display: block;
    background-color: rgba(255, 255, 255, .5);
    font-weight: 700;
    font-size: larger;

    &:hover {
        background-color:gold;
    }
}

#q1Button {
    grid-area: q1Button;
}

#q2Button {
    grid-area: q2Button;
}

#q3Button {
    grid-area: q3Button;
}

#q4Button {
    grid-area: q4Button;
}

