.button {
    margin: .6rem auto 0 auto;
    // width: 60%;
    color:#ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px #8d8782;
    background:#8d8782;
    text-align:center;
    padding:16px 18px 14px;
  
    transition: all 0.1s;
    box-shadow: 0px 4px 0px #333232;
}

.button:active{
    box-shadow: 0px 2px 0px #333232;
    position:relative;
    top:4px;
}

// .button {
//     padding: 0.8rem 0;
//     margin-top: 1rem; 
//     // border-style: solid;
//     // border-color: gold;
//     display: block;
//     background-color: rgba(255, 255, 255, .5);
//     font-weight: 700;

//     &:hover {
//         background-color:gold;
//     }
// }



#q1Button {
    grid-area: q1Button;
}

#q2Button {
    grid-area: q2Button;
}

#q3Button {
    grid-area: q3Button;
}

#q4Button {
    grid-area: q4Button;
}

