
.ribbon {
    font-size: 16px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
   
    width: 55%;
       
    position: relative;
    background:linear-gradient(0deg, rgba(196, 85, 34, 0.8),rgba(196, 85, 34, 0.8)), url(/images/textiletexture.png);
    background-size:cover;
    color: rgba(31, 5, 5, 0.8);
    // text-shadow: 1px 1px 0px rgba(231, 200, 163, 0.8);
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 1em auto 1em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
   }
   .ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -0.5em;
    border: 1.5em solid rgb(138, 60, 23);
    z-index: -1;
   }
   .ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
   }
   .ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
   }
   .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #721c0c transparent transparent transparent;
    bottom: -1em;
   }
   .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
   }
   .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
   
}
   