.video {
    grid-area: video;
    display: block;
    max-width: 90%;
}

.video-welkom {
    display: none;
    grid-area: video-welkom;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    // align-self: center;
    // justify-self: center;
    grid-template: 
    "video" fit-content(100%)
    "start-button" fit-content(100%)
    / 1fr
}

.video-intro {
    display: none;
    grid-area: video-intro;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    // align-self: center;
    // justify-self: center;
    grid-template: 
    "video" fit-content(100%)
    "start-button" fit-content(100%)
    / 1fr
}

.video-riktig {
    display: none;
    grid-area: video-riktig;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    // align-self: center;
    // justify-self: center;
    grid-template: 
    "video" fit-content(100%)
    "video-gratulerer" fit-content(100%)
    "button" fit-content(100%)
    / 1fr
}

.video-feil {
    display: none;
    grid-area: video-feil;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    // align-self: center;
    // justify-self: center;
    grid-template: 
    "video" fit-content(100%)
    "button" fit-content(100%)
    / 1fr
}

.video-button {
    margin: 1em;
    grid-area: button;
    padding: 0.6em;
    background-image: linear-gradient(135deg,  rgb(255, 227, 137), rgb(230, 140, 38));
    color:black;
    

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: large;
    }

}

.video-gratulerer {
    grid-area: video-gratulerer;
    border-radius:4px;
    border-top:solid 5px #fadf9b;
    border-left: solid 5px #fadf9b;
    border-bottom: solid 5px rgb(182, 112, 32);
    border-right: solid 5px rgb(182, 112, 32);
    margin: 1em;
    padding: 1em;
    // background-image: linear-gradient(135deg,  rgb(255, 227, 137), rgb(230, 140, 38));
    background: linear-gradient(135deg, rgba(255, 227, 137, 0.8), rgba(230, 140, 38, 0.8)), url(/images/stonetexure.png); 
    background-size:cover;
    color:rgb(24, 11, 0);
    font-weight: 700;
    text-shadow: 1px 1px 0px #fadf9b;
}

.start-button {
    display: grid;
    grid-area: start-button;
    margin: 1em;
    padding: .6em;
    background-image: linear-gradient(135deg,  rgb(255, 227, 137), rgb(230, 140, 38));
    color:black;
}

.button-test {
    // margin: 1em;
    grid-area: button;
    // background-image: linear-gradient(135deg,  rgb(255, 227, 137), rgb(230, 140, 38));
    // color:black;

    // a {
    //     text-decoration: none;
    //     color: black;
    // }
}