.video {
    grid-area: video;
    display: block;
    max-width: 90%;
}

.video-welkom {
    display: none;
    grid-area: video-welkom;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    grid-template: 
    "video" fit-content(100%)
    "button" fit-content(100%)
    / 1fr
}

.video-intro {
    display: none;
    grid-area: video-intro;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    grid-template: 
    "video" fit-content(100%)
    "button" fit-content(100%)
    / 1fr
}

.video-riktig {
    display: none;
    grid-area: video-riktig;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    grid-template: 
    "video" fit-content(100%)
    // "banner" fit-content(100%)
    "video-gratulerer" fit-content(100%)
    "button" fit-content(100%)
    / 1fr
}

.video-feil {
    display: none;
    grid-area: video-feil;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    grid-template: 
    "video" fit-content(100%)
    "button" fit-content(100%)
    / 1fr
}


.video-gratulerer {
    grid-area: video-gratulerer;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    width: 70%;
    margin-top: 0.2em;

    p {
        margin: 0.3em auto;
    }

    h3 {
        text-transform: uppercase;
        margin-bottom: 0;
    }
}
// .banner-gratulerer {
//     margin-top: -3rem;
//     grid-area: banner;
//     width: 60%;
//     animation: fadein 2s;
//     animation: fadeout 2s;
//     // animation-delay: 2s;
//     opacity: 0;
// }

// @keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// @keyframes fadeout {
//     from { opacity: 1; }
//     to   { opacity: 0; }
// }

// NORNEN
.video-nornenBli {
    display: none;
    grid-area: nornen-bli;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    grid-template: 
    "video" fit-content(100%)
    "tekst" fit-content(100%)
    "nornenButton2" fit-content(100%)
    / 1fr;

}
        
.video-nornenSur {
    display: none;
    grid-area: nornen-sur;
    background-color: black;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-items: center;
    grid-template: 
    "video" fit-content(100%)
    "tekst" fit-content(100%)
    "button" fit-content(100%)
    / 1fr;
}