<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    
    {{ $options := (dict "targetPath" "styles.css" "outputStyle" "compressed") -}}
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint -}}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet" media="all">
    
    {{ if eq .Section "sprsml" }}
        {{ $qID := .LinkTitle }}
        {{ $outputCSS := add $qID ".css" }}
        {{ $inputSCSS := printf "scss/pages/_%s.scss" $qID }}
		{{ if (fileExists $inputSCSS) }}
        	{{ $resourceGet := resources.Get $inputSCSS }}
        	{{ $pageOptions := (dict "targetPath" $outputCSS "outputStyle" "compressed") -}}
        	{{ $qStyle := $resourceGet | toCSS $pageOptions | fingerprint -}}
        <link href="{{ $qStyle.RelPermalink }}" rel="stylesheet" media="all">
		{{ end }}
    {{ end }}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}kystopia{{ end }}</title>
</head>


<body>
    {{ block "main" . }}
    <div class="p-questions">

        <p class="p-questions__alert">Kystopia er kun ment for å spille på mobil</p>

        <div class="p-questions__wrapper" id="{{ .LinkTitle }}">

            <h2 class="ribbon">{{ .Title }}</h2>

            <input type="checkbox" id="checkbox1" onchange={{ if .Params.q1.answer }}"playVideo2();pinch.action.logEvent(pinch.action.event.GOAL_ACHIEVED)"{{ else }}"playVideo1();pinch.action.logEvent(pinch.action.event.INTERACTION)"{{ end }}>
            <label for="checkbox1" id="q1Button" class="button">{{ .Params.q1.question }}</label>

            <input type="checkbox" id="checkbox2" onchange={{ if .Params.q2.answer }} "playVideo2();pinch.action.logEvent(pinch.action.event.GOAL_ACHIEVED)"{{ else }}"playVideo1();pinch.action.logEvent(pinch.action.event.INTERACTION)"{{ end }}>
            <label for="checkbox2" id="q2Button" class="button">{{ .Params.q2.question }}</label>

            <input type="checkbox" id="checkbox3" onchange={{ if .Params.q3.answer }} "playVideo2();pinch.action.logEvent(pinch.action.event.GOAL_ACHIEVED)"{{ else }}"playVideo1();pinch.action.logEvent(pinch.action.event.INTERACTION)"{{ end }}>
            <label for="checkbox3" id="q3Button" class="button">{{ .Params.q3.question }}</label>

            <input type="checkbox" id="checkbox4" onchange={{ if .Params.q4.answer }} "playVideo2();pinch.action.logEvent(pinch.action.event.GOAL_ACHIEVED)"{{ else }}"playVideo1();pinch.action.logEvent(pinch.action.event.INTERACTION)"{{ end }}>
            <label for="checkbox4" id="q4Button" class="button">{{ .Params.q4.question }}</label>

            <img class="illustration" src="illustration.png">
            
            <div class="video-feil">
                <video id="videofeil" class="video">
                    <source src="/videofeil.mp4" type="video/mp4">
                </video>
                <a class="button" href="{{ .RelPermalink }}">Prøv igjen!</a>
            </div>

            <div class="video-riktig">
                <video id="videoriktig" class="video">
                    <source src="videoriktig.mp4" type="video/mp4">
                </video>
                <div class="video-gratulerer">
                    <p>Gratulerer! Du klarte oppgaven. Gå videre til neste post! 
                    </p>
                    <a href={{ .RelPermalink }} >LUKK (test)</a>
                </div>
                <a class="button button-test" href={{ .RelPermalink }} >LUKK (test)</a>
            </div>


            <script src="/js/videokontroll.js"></script>
            <script src="/js/pinch-action.min.js"></script>

        </div>
    </div>
    {{ end }}
</body>

</html>
