{{ define "main" }}
<div class="questionPage">

    {{ .Title }}
    {{ .Content }}

    <style class="questionPage__bg">
        body {
            background-image: url('background.jpg');
        }
    </style>

    <div class="questionPage__wrapper" id="{{ .LinkTitle }}">

        <input type="checkbox" id="checkbox1">
        <label for="qCheckbox" id="qButton" class="button">{{ .Params.q1.question }}</label>

        <input type="checkbox" id="checkbox2">
        <label for="qCheckbox" id="qButton" class="button">{{ .Params.q2.question }}</label>
        
        <input type="checkbox" id="checkbox3">
        <label for="qCheckbox" id="qButton" class="button">{{ .Params.q3.question }}</label>

        <input type="checkbox" id="checkbox4">
        <label for="qCheckbox" id="qButton" class="button">{{ .Params.q4.question }}</label>
        
        
        
        <video class="questionPage__videoriktig">
            <source src="videoriktig.mp4" type="video/mp4">
        </video>

        <video class="questionPage__videofeil">
            <source src="videoriktig.mp4" type="video/mp4">
        </video>


    </div>
</div>
{{ end }}