#hammer {
    
    #checkbox1 {
    
        &:checked ~ .video-feil {
            display: grid;
        }
    }
    
    #checkbox2 {

        &:checked ~ .video-riktig {
            display: grid;
        }
    }

    #checkbox3 {

        &:checked ~ .video-feil {
            display: grid;
        }
    }

    #checkbox4 {

        &:checked ~ .video-feil {
            display: grid;
        }
    }

    // .video-welkom {
    //     display: none;
    // }

    // .button-test {
    //     display: none;
    // }
}