.p-intro {
    
   &__wrapper {
       input {
            display: none;
       }

       display: grid;
       grid-template:
           "video-intro" fit-content(100%)
           "startButton" fit-content(100%)
           / 1fr;
   }
  
   @media screen and (min-width: 48em) {
       .p-intro__wrapper {
           display: none;
       }
    
       .p-questions__alert {
           display: block;
       }
   }
   
   #checkboxI {
        
       &:checked ~ .video-intro {
           display: grid;
       }
   }
}