.p-nornen {
    &__image {
        display: block;
        max-width: 90%;

        &-bli {
            display: none;
            grid-area: nornen-bli;
            background-color: black;
            height: 100vh;
            width: auto;
            align-content: center;
            justify-items: center;
        }
        
        &-sur {
            display: none;
            grid-area: nornen-sur;
            background-color: black;
            height: 100vh;
            width: auto;
            align-content: center;
            justify-items: center;
        }
    }
}