.p-nornen {
    @media screen and (min-width: 48em) {
        .p-nornen__wrapper {
            display: none;
        }

        .p-questions__alert {
            display: block;
        }
    }

    &__wrapper {
        background-color: black;
        height: 100vh;
        display: grid;
        grid-template:
            "nornen-sur" fit-content(100%)
            "nornen-bli" fit-content(100%)
            "fill" fit-content(100%)
            "tekst" fit-content(100%)
            "nornenButton1" fit-content(100%)
            / 1fr;
    } 
}
