{{ define "title" }}kystopia{{ end }}

{{ define "main" }}

<div class="p-nornen">

    <p class="p-questions__alert">Kystopia er kun ment for å spille på mobil</p>

    <div class="p-nornen__wrapper">

        <input type="checkbox" id="checkboxNornen">
        <label for="checkboxNornen" class="nornenButton button">Fullfør!(dev)</label>

        <div class="p-nornen__bli" id="image-bli">
            <img class="p-nornen__image" src="/images/nornen-bli.jpg" alt="">
            <p class="nornenTekst">{{ with .Params.text.task }}{{ . }}{{ end }}</p>
        </div>
            
        <div class="p-nornen__sur" id="image-sur">
            <img class="p-nornen__image" src="/images/nornen-sur.jpg" alt="">
            <p class="nornenTekst">{{ with .Params.text.completed }}{{ . }}{{ end }}</p>
        </div>

    </div>
</div>

{{ end }}