{{ define "title" }}kystopia{{ end }}

{{ define "main" }}

<div class="p-nornen">

    <p class="p-questions__alert">Kystopia er kun ment for å spille på mobil</p>

    <div class="p-nornen__wrapper">

        <div class="p-nornen__intro">
            <p class="nornenTekst"> Den onde nornen har kommet! Hør hva hun har å si…</p>
            <input type="checkbox" id="checkboxNornen1">
            <label for="checkboxNornen1" class="nornenButton button">Klikk her…</label>
        </div>

        <div class="p-nornen__bli" id="image-bli">
            <img class="p-nornen__image" src="/images/nornen-bli.jpg" alt="">
            <p class="nornenTekst">{{ with .Params.text.task }}{{ . }}{{ end }}</p>
            <input type="checkbox" id="checkboxNornen2">
            <label for="checkboxNornen2" class="nornenButton button">Fullfør…</label>
        </div>

        <div class="p-nornen__sur" id="image-sur">
            <img class="p-nornen__image" src="/images/nornen-sur.jpg" alt="">
            <p class="nornenTekst">{{ with .Params.text.completed }}{{ . }}{{ end }}</p>
            <div class="nornenButton button">
                <a href="{{ .RelPermalink }}">lukk(dev)</a>
            </div>
        </div>

    </div>
</div>

{{ end }}